/*
	Name: Pouya Shahrdami
	File: style.css
	Date: 16-05-2024
	Assignment 1
*/
.address{
    text-align: right;

}
.nobull{
    list-style: none;
    margin: 0;
    padding: 0;
}
.padd{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}