/*
Name: Pouya Shahrdami
File: index.html
Date: 5-06-2024
Assignment 3 part 2
*/

html {
    font-family: sans-serif;
}

body {
    display: grid;
    place-items: center;
}

.box {
    width: 200px;
    height: 200px;
    display: flex;
    font-weight: bold;
    justify-content: center;
    place-items: center;
    font-size: 18px;
    color: white;
    border-radius: 15px;
    background: red linear-gradient(to bottom right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0.2));
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), /* Raised shadow */ inset 5px 5px 10px rgba(255, 255, 255, 0.5), /* Top-left white inset */ inset -5px -5px 10px rgba(0, 0, 0, 0.5);
}

